@font-face {
  font-family: "ComicSansMS";
  src: url("Fuentes/ComicSans.ttf") format("truetype");
}

body {
    font-family: 'ComicSansMS', cursive;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #fff4a8;
    color: #fff4a8;
}

img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
    font-size: 2lh;
    color: #b2aa75;
}

h3 {
    margin: 10px 0;
    font-size: 1lh;
    color: #b2aa75;
}

.botones {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; /* Prevent vertical shift on hover */
}

.botones button {
    font-family: 'Comic Sans MS', cursive;
    font-weight: 700;
    font-size: 2em;
    background-color: transparent; /* Changed from #b2aa75 */
    color: #b2aa75;            /* Changed from #fff4a8 */
    border: 3px solid #fff4a8;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.botones button:hover {
    background-color: #fff4a8; /* New hover background */
    color: #b2aa75;
    transform: scale(1.1);
}

.btn-img {
    margin-top: 20px;
    max-width: 50px;
}
